POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce
POSTGRES_DB=ecommerce
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Salt used to hash customer identifiers in dbt staging models (see
# docs/governance.md). Change this to any random string of your own.
CUSTOMER_ID_HASH_SALT=changeme
